<?xml version="1.0" encoding="UTF-8"?>
<odoo>

    <menuitem id="menu_event_root"
              name="Events"
              parent="hr.menu_hr_root"
              sequence="40"
              groups="hr.group_hr_manager"
              />

    <menuitem id="menu_event"
              name="Events"
              parent="menu_event_root"
              sequence="10"
              action="action_hr_event"/>

    <menuitem id="menu_event_type"
              name="Event Types"
              parent="menu_event_root"
              sequence="20"
              action="action_hr_event_type"/>

</odoo>
